# 🔹 Configurações básicas do servidor n8n (Irene)
N8N_PORT=5678
N8N_PROTOCOL=https
N8N_HOST=irn.onrender.com

# 🔹 Proteção por senha do painel
N8N_BASIC_AUTH_ACTIVE=true
N8N_BASIC_AUTH_USER=admin
N8N_BASIC_AUTH_PASSWORD=26374246Aj.

# 🔹 Recursos recomendados
# 🔹 Recursos recomendados
N8N_RUNNERS_ENABLED=true
N8N_BLOCK_ENV_ACCESS_IN_NODE=false
N8N_GIT_NODE_DISABLE_BARE_REPOS=true
DB_SQLITE_POOL_SIZE=5
N8N_ENFORCE_SETTINGS_FILE_PERMISSIONS=true

OPENAI_API_KEY=COLOCAR_NO_RENDER
WEBHOOK_URL=https://irn.onrender.com/
